@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body{
    margin: 0;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-5{
    margin-top: 5x !important;
}
